@model IEnumerable<PreCrime.TB_TIPO_CRIME>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_CRIME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_CRIME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_TIPO_CRIME }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_TIPO_CRIME }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_TIPO_CRIME })
        </td>
    </tr>
}

</table>
